src/Resources/project.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="plist">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dict">
          <xs:complexType>
                <xs:element name="key" type="xs:string" />
                <xs:element name="string" type="xs:unsignedByte" />
                <xs:element name="dict">
                  <xs:complexType>
                    <xs:sequence minOccurs="0">
                      <xs:choice maxOccurs="unbounded">
                        <xs:element name="key" type="xs:string" />
                        <xs:element name="dict">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:choice maxOccurs="unbounded">
                                <xs:element name="key" type="xs:string" />
                                <xs:element name="string" type="xs:string" />
                                <xs:element name="array">
                                  <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                      <xs:element maxOccurs="unbounded" name="string" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                             </xs:choice>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
          
    </xs:complexType>
  </xs:element>
</xs:schema>
